.about
	.container
		h2.about__title Заголовок
		.about__features.about-features
			.about-features__card.about-features-card
				.about-features-card__head
					.about-features-card__icon
						img(src="img/geo.svg" alt="")
					.about-features-card__title 1. шаг
				.about-features-card__body
					.about-features-card__text Разнообразный и богатый опыт начало повседневной работы по формированию.
			.about-features__card.about-features-card
				.about-features-card__head
					.about-features-card__icon
						img(src="img/geo.svg" alt="")
					.about-features-card__title 2. шаг
				.about-features-card__body
					.about-features-card__text Разнообразный и богатый опыт начало повседневной работы по формированию.
			.about-features__card.about-features-card
				.about-features-card__head
					.about-features-card__icon
						img(src="img/geo.svg" alt="")
					.about-features-card__title 3. шаг
				.about-features-card__body
					.about-features-card__text Разнообразный и богатый опыт начало повседневной работы по формированию.

		.about__text Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке дальнейших направлений развития. С другой стороны реализация намеченных плановых заданий играет важную роль в формировании систем массового участия. С другой стороны консультация с широким активом играет важную роль в формировании направлений прогрессивного развития.
