section.accent
	.container
		h2.accent__title Заголовок
		.accent__body
			.accent__form
				img(src="img/form.svg" alt="")
			.accent__list.accent-list
				.accent-list__title Пункты
				.accent-list__items
					ul
						li Пункт 1
						li Пункт 2
						li Пункт 3