footer.footer
	.container
		.footer__layout
			//Main
			.footer__main
				.footer__email
					a(href="mailto:mail@mail.com") mail@mail.com
				.footer__phone
					a(href="") 8 800 555 35 35
				.footer__socials
					ul
						li
							a(href="")
								img(src="img/soc1.svg" alt="")
						li
							a(href="")
								img(src="img/soc2.svg" alt="")
						li
							a(href="")
								img(src="img/soc3.svg" alt="")
				.footer__copyright © 2021

			//Nav
			.footer__nav.footer-nav
				.footer-nav__col
					.footer-nav__title Услуги
					.footer-nav__list
						ul
							li: a(href="") Услуга 1
							li: a(href="") Услуга 2
							li: a(href="") Услуга 3
				.footer-nav__col
					.footer-nav__title Другое
					.footer-nav__list
						ul
							li: a(href="") Услуга 1
							li: a(href="") Услуга 2
							li: a(href="") Услуга 3
			//Logo
			.footer__logo.logo
				a(href="") ЛОГО

