header.header
	.container
		.header__layout
			.header__menu
				img(src="img/menu.svg" alt="")
			nav.header__nav.nav
				ul
					li.active: a(href="") Пункт 1
					li: a(href="") Пункт 2
					li: a(href="") Пункт 3
					li: a(href="") Пункт 4
			.header__logo.logo
				a(href="") ЛОГО
			.header__tools
				.header__phone
					a(href="tel:88005553535") 8 800 555 35 35
				.header__account
					a(href="")
						img(src="img/account.svg" alt="")

.mobile
	.mobile__wrapper
		.mobile__close
			img(src="img/cross.svg" alt="")
		.mobile__nav
			ul
				li.active: a(href="") Пункт 1
				li: a(href="") Пункт 2
				li: a(href="") Пункт 3
				li: a(href="") Пункт 4

