<!DOCTYPE html>
html
	head
		include inc/head
	body

		include inc/header
		include inc/hero
		include inc/accent
		include inc/about
		include inc/reviews
		include inc/footer

		//- Scripts
		script(src="js/main.js")
